{% load auxiliar_method %}

<!DOCTYPE html>
<html lang='es'>
  <header>
  	<nav>
  		<ul>
			<li><a href='/'>Inicio</a></li>
			<li><a href='/usuarios'>Usuarios</a></li>
            <li><a href='/peliculas'>Peliculas</a></li>
            <li><a href='/directores'>Directores</a></li>
		</ul>
	</nav>
  </header>
  <section>
    <h1>Directores</h1>
	<ul>

		{% for director in directores%}
       <li>  <h2> {{ director }}</h2> </li>
            <ul>
                {% for pelicula in directores|filter:director  %}
               <li> {{ pelicula }} </li>
            {% endfor %}
            </ul>
		{% endfor %}

	</ul>
  </section>
</html>