{% load auxiliar_method %}

<!DOCTYPE html>
<html lang='es'>
  <header>
  	<nav>
  		<ul>
			<li><a href='/'>Inicio</a></li>
			<li><a href='/usuarios'>Usuarios</a></li>
            <li><a href='/peliculas'>Peliculas</a></li>
            <li><a href='/directores'>Directores</a></li>
		</ul>
	</nav>
  </header>
  <section>
    <h1>Peliculas</h1>
	<ul>

		{% for categoria in peliculas%}
       <li>  <h2> {{ categoria }}</h2> </li>
            - {% for pelicula in peliculas|filter:categoria  %}
                {{ pelicula }}, dirigida por: {{ pelicula.director }} : </br>
                {{ pelicula.resumen }}
            {% endfor %}
		{% endfor %}

	</ul>
  </section>
</html>